<!DOCTYPE html>
<html>
<head>
    <title>Link2 - @ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @Html.Partial("/Views/Shared/_Navigation.cshtml")
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("/Views/Shared/_Footer.cshtml")

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    @RenderSection("js", false)
</body>
</html>